<div class="jumbotron">
<div class="container">
  <%= form_tag places_path, :method=>'get' do %>
  <%= label_tag "Categoria" %>
  <br>
  <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "description") %>
  <br>
  <%= label_tag "Fecha inicial" %>
  <input type='text' class="form-control" name="startdate" id='datetimepickerstart' <%= @startdate %> />
  <%= label_tag "Fecha final" %>
  <input type='text' class="form-control" name="enddate" id='datetimepickerend' <%= @enddate %> />
  <%= label_tag "Invitados" %>
  <br>
  <%= text_area_tag :guest %>
  <br>
  <%= submit_tag 'Buscar Disponibilidad', :class=>'btn btn-success' %>
  <% end %>
  </div>
</div>
<div class="container">
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-8">
  <h1>Mis reservaciones</h1>
    <%= render 'fullcalendar' %>
  </div>
  <div class="col-md-4">
  <h1>Actividad reciente</h1>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Inicia</th>
          <th>Finaliza</th>
          <th>Invitados</th>
          <th>Estatus</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.startdate %></td>
          <td><%= reservation.enddate %></td>
          <td><%= reservation.guest %></td>
          <td><%= reservation.status %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe, reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $('#datetimepickerstart').datetimepicker();
    $('#datetimepickerend').datetimepicker();
    $('#datepicker').datepicker();
  });

</script>
7