
<div class="container">
<h1>Lugares disponibles</h1>
<div class="table-responsive">
    <table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Capacidad</th>
      <th>Costo</th>
      <th>Ubicación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.description %></td>
        <td><%= place.capacity %></td>
        <td><%= place.cost %></td>
        <td><%= place.localization.campus %></td>
        <td><%= link_to 'Ver Detalle', place %></td>
        <td><%= link_to 'Reservar', reservation_place_path(place, :guest => params[:guest], :startdate => params[:startdate], :enddate => params[:enddate]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>