
<div class="container">
  <% if current_user.present? %>
  <%= render 'layouts/header' %>
  <% end %>


  <div class="card">
    
      <%= form_tag places_path, remote: true, :method=>'get' do %>
      <div class="col-sm-3 m-b-20">
        <div class="form-group fg-line">
          <label>Categoría</label>
          <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "description"), {class:'selectpicker bs-select-hidden', 'data-live-search' => 'true'}%>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 m-b-25">
          <label>Fecha Inicial</label>
          <div class="input-group form-group">
            <span class="input-group-addon"><i class="md md-event"></i></span>
            <div class="dtp-container dropdown fg-line">
            <input name="startdate" type="text" data-date-format="YYYY-MM-DD HH:MM" class="form-control date-time-picker" data-toggle="dropdown" placeholder="Click aquí..." aria-expanded="false" <%= @startdate %>>
            </div>
          </div>
        </div>
        <div class="col-sm-3 m-b-25">
          <label>Fecha Final</label>
          <div class="input-group form-group">
            <span class="input-group-addon"><i class="md md-event"></i></span>
            <div class="dtp-container dropdown fg-line">
              <input name="enddate" type="text" data-date-format="YYYY-MM-DD HH:MM" class="form-control date-time-picker" data-toggle="dropdown" placeholder="Click aquí..." aria-expanded="false" <%= @enddate %>>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3 m-b-20">
        <label>Invitados</label>
        <div class="dtp-container dropdown">
          <div class="fg-line">
            <textarea name="guest" class="form-control" rows="5" placeholder="Invitados..." <%= @guest %>></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 m-b-25">
          <button type="submit" class="btn btn-primary btn-sm m-t-10 waves-effect">Nueva Búsqueda...</button>
        </div>
      </div>
      <% end %>
   
  </div>
</div>

<%= render 'list' %>

</div>
