<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">

     <img class="img-responsive img-rounded" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" alt="No photo">
   </div>
 </div>
 <br>
 <div class="row">
   <div class="col-md-3">
    <p>
      <strong><%= @place.name %></strong>
    </p>
    <br>
    <p>
      <strong><%= @place.status %></strong>
    </p>
  </div>

  <div class="col-md-9">

    <span class="glyphicon glyphicon-stats" aria-hidden="true">&nbsp<strong>Catacterísticas</strong></span>
    <p>
      <strong>Description:</strong>
      <%= @place.description %>
    </p>

    <p>
      <strong>Capacity:</strong>
      <%= @place.capacity %>
    </p>

    <p>
      <strong>Cost:</strong>
      <%= @place.cost %>
    </p>

    <p>
      <strong>Goods:</strong>
      <%= @place.goods %>
    </p>

    <p>
      <strong>Latitude:</strong>
      <%= @place.latitude %>
    </p>

    <p>
      <strong>Longitude:</strong>
      <%= @place.longitude %>
    </p>



    <p>
      <strong>Category:</strong>
      <%= @place.category.description %>
    </p>

    <p>
      <strong>Role:</strong>
      <%= @place.role.description %>
    </p>

    <p>
      <strong>Dayoff:</strong>
      <%= @place.dayoff.day %>
    </p>

    <p>
      <strong>Localization:</strong>
      <%= @place.localization.state + ", " + @place.localization.campus %>
    </p>
  </div>
</div>
</div>

